<app-second-header></app-second-header>
<div class="container">
  <main class="main-container">
    <form [formGroup]="form">
      <h2>Seus Dados</h2>
      <div class="form-field">
        <label class="label">Nome (Obrigatório)</label>
        <input
          class="input"
          type="text"
          formControlName="nome"
          [ngClass]="{
            'invalid-field':
              form.get('nome')?.invalid &&
              (form.get('nome')?.dirty || form.get('nome')?.touched)
          }"
        />
        <div
          *ngIf="
            form.get('nome')?.invalid &&
            (form.get('nome')?.dirty || form.get('nome')?.touched)
          "
          class="error"
        >
          <div *ngIf="form.get('nome')?.errors?.['required']">
            Campo é obrigatório.
          </div>
          <div *ngIf="form.get('nome')?.errors?.['minlength']">
            Campo deve ter pelo menos 5 caracteres.
          </div>
          <div *ngIf="form.get('nome')?.errors?.['maxlength']">
            Campo deve ter no máximo 100 caracteres.
          </div>
        </div>
      </div>
      <div class="form-field">
        <label class="label">Email (Obrigatório)</label>
        <input
          class="input"
          type="email"
          formControlName="email"
          [ngClass]="{
            'invalid-field':
              form.get('email')?.invalid &&
              (form.get('email')?.dirty || form.get('email')?.touched)
          }"
        />
        <div
          *ngIf="
            form.get('email')?.invalid &&
            (form.get('email')?.dirty || form.get('email')?.touched)
          "
          class="error"
        >
          <div *ngIf="form.get('email')?.errors?.['required']">
            Campo é obrigatório.
          </div>
          <div *ngIf="form.get('email')?.errors?.['minlength']">
            Campo deve ter pelo menos 5 caracteres.
          </div>
          <div *ngIf="form.get('email')?.errors?.['maxlength']">
            Campo deve ter no máximo 100 caracteres.
          </div>
          <div *ngIf="form.get('email')?.errors?.['email']">
            O Campo deve ter um formato válido.
          </div>
        </div>
      </div>
      <div class="password">
        <div class="senha form-field">
          <label class="label">Senha (Obrigatório)</label>
          <input
            class="input"
            type="password"
            formControlName="senha"
            [ngClass]="{
              'invalid-field':
                form.get('senha')?.invalid &&
                (form.get('senha')?.dirty || form.get('senha')?.touched)
            }"
          />
          <div
            *ngIf="
              form.get('senha')?.invalid &&
              (form.get('senha')?.dirty || form.get('senha')?.touched)
            "
            class="error"
          >
            <div *ngIf="form.get('senha')?.errors?.['required']">
              Campo é obrigatório.
            </div>
            <div *ngIf="form.get('senha')?.errors?.['minlength']">
              Campo deve ter pelo menos 6 caracteres.
            </div>
            <div *ngIf="form.get('senha')?.errors?.['maxlength']">
              Campo deve ter no máximo 20 caracteres.
            </div>
          </div>
        </div>
        <div class="confirma form-field">
          <label class="label">Confirmar senha (Obrigatório)</label>
          <input
            class="input"
            type="password"
            formControlName="confirmaSenha"
            [ngClass]="{
              'invalid-field':
                form.get('confirmaSenha')?.invalid &&
                (form.get('confirmaSenha')?.dirty ||
                  form.get('confirmaSenha')?.touched)
            }"
          />
          <div
            *ngIf="
              form.get('confirmaSenha')?.invalid &&
              (form.get('confirmaSenha')?.dirty ||
                form.get('confirmaSenha')?.touched)
            "
            class="error"
          >
            <div *ngIf="form.get('confirmaSenha')?.errors?.['required']">
              Campo é obrigatório.
            </div>
            <div *ngIf="form.get('confirmaSenha')?.errors?.['minlength']">
              Campo deve ter pelo menos 3 caracteres.
            </div>
            <div *ngIf="form.get('confirmaSenha')?.errors?.['maxlength']">
              Campo deve ter no máximo 20 caracteres.
            </div>
          </div>
        </div>
      </div>
      <div class="form-field">
        <label class="label">Telefone (Obrigatório)</label>
        <input
          class="input"
          type="tel"
          minlength="15"
          maxlength="15"
          [imask]="{ mask: '(00) 00000-0000' }"
          formControlName="telefone"
          [ngClass]="{
            'invalid-field':
              form.get('telefone')?.invalid &&
              (form.get('telefone')?.dirty || form.get('telefone')?.touched)
          }"
        />
        <div
          *ngIf="
            form.get('telefone')?.invalid &&
            (form.get('telefone')?.dirty || form.get('telefone')?.touched)
          "
          class="error"
        >
          <div *ngIf="form.get('telefone')?.errors?.['required']">
            Telefone é obrigatório.
          </div>
          <div *ngIf="form.get('telefone')?.errors?.['minLength']">
            Campo deve ter no máximo 15 caracteres
          </div>
          <div *ngIf="form.get('telefone')?.errors?.['maxLength']">
            Campo deve ter no máximo 15 caracteres
          </div>
        </div>
      </div>
      <div class="form-field">
        <label class="label">CPF (Obrigatório)</label>
        <input
          class="input"
          [imask]="{ mask: '000.000.000-00' }"
          type="text"
          formControlName="documento"
          [ngClass]="{
            'invalid-field':
              form.get('documento')?.invalid &&
              (form.get('documento')?.dirty || form.get('documento')?.touched)
          }"
        />
        <div
          *ngIf="
            form.get('documento')?.invalid &&
            (form.get('documento')?.dirty || form.get('documento')?.touched)
          "
          class="error"
        >
          <div *ngIf="form.get('documento')?.errors?.['required']">
            Campo é obrigatório.
          </div>
          <div *ngIf="form.get('documento')?.errors?.['pattern']">
            Campo deve ter um formato válido
          </div>
        </div>
      </div>
      <h2>Endereço</h2>
      <div class="form-field">
        <label class="label">Endereço (Obrigatório)</label>
        <input
          class="input"
          type="text"
          required
          formControlName="logradouro"
          [ngClass]="{
            'invalid-field':
              form.get('logradouro')?.invalid &&
              (form.get('logradouro')?.dirty || form.get('logradouro')?.touched)
          }"
        />
        <div
          *ngIf="
            form.get('logradouro')?.invalid &&
            (form.get('logradouro')?.dirty || form.get('logradouro')?.touched)
          "
          class="error"
        >
          <div *ngIf="form.get('logradouro')?.errors?.['required']">
            Campo é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-field">
        <label class="label">Bairro (Obrigatório)</label>
        <input
          class="input"
          type="text"
          formControlName="bairro"
          [ngClass]="{
            'invalid-field':
              form.get('bairro')?.invalid &&
              (form.get('bairro')?.dirty || form.get('bairro')?.touched)
          }"
        />
        <div
          *ngIf="
            form.get('bairro')?.invalid &&
            (form.get('bairro')?.dirty || form.get('bairro')?.touched)
          "
          class="error"
        >
          <div *ngIf="form.get('bairro')?.errors?.['required']">
            Campo é obrigatório.
          </div>
          <div *ngIf="form.get('bairro')?.errors?.['minlength']">
            Campo deve ter pelo menos 3 caracteres.
          </div>
          <div *ngIf="form.get('bairro')?.errors?.['maxlength']">
            Campo deve ter no máximo 100 caracteres.
          </div>
        </div>
      </div>
      <div class="form-field">
        <label class="label">Complemento</label>
        <input
          class="input"
          type="text"
          formControlName="complemento"
          [ngClass]="{
            'invalid-field':
              form.get('complemento')?.invalid &&
              (form.get('complemento')?.dirty ||
                form.get('complemento')?.touched)
          }"
        />
      </div>
      <div class="form-field">
        <label class="label">CEP (Obrigatório)</label>
        <input
          class="input"
          type="text"
          [imask]="{ mask: '00000-000' }"
          formControlName="cep"
          [ngClass]="{
            'invalid-field':
              form.get('cep')?.invalid &&
              (form.get('cep')?.dirty || form.get('cep')?.touched)
          }"
        />
        <div
          *ngIf="
            form.get('cep')?.invalid &&
            (form.get('cep')?.dirty || form.get('cep')?.touched)
          "
          class="error"
        >
          <div *ngIf="form.get('cep')?.errors?.['required']">
            Campo é obrigatório.
          </div>
          <div *ngIf="form.get('cep')?.errors?.['pattern']">
            Campo deve ter um formato válido
          </div>
          <div *ngIf="form.get('cep')?.errors?.['minlength']">
            Campo deve ter pelo menos 9 caracteres.
          </div>
          <div *ngIf="form.get('cep')?.errors?.['maxlength']">
            Campo deve ter no máximo 9 caracteres.
          </div>
        </div>
      </div>
      <div class="form-field">
        <label class="label">Estado (Obrigatório)</label>
        <select
          class="input"
          type="select"
          formControlName="estados"
          placeholder="Selecione o estado"
          [ngClass]="{
            'invalid-field':
              form.get('estados')?.invalid &&
              (form.get('estados')?.dirty || form.get('estados')?.touched)
          }"
        >
          <option
            *ngFor="let estado of estadoList$ | async"
            [value]="estado.id"
          >
            {{ estado.nome }}
          </option>
        </select>
        <div
          *ngIf="
            form.get('estados')?.invalid &&
            (form.get('estados')?.dirty || form.get('estados')?.touched)
          "
          class="error"
        >
          <div *ngIf="form.get('estados')?.errors?.['required']">
            Campo é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-field">
        <label class="label">Cidade (Obrigatório)</label>
        <input
          class="input"
          type="text"
          formControlName="cidade"
          [ngClass]="{
            'invalid-field':
              form.get('cidade')?.invalid &&
              (form.get('cidade')?.dirty || form.get('cidade')?.touched)
          }"
        />
        <div
          *ngIf="
            form.get('cidade')?.invalid &&
            (form.get('cidade')?.dirty || form.get('cidade')?.touched)
          "
          class="error"
        >
          <div *ngIf="form.get('cidade')?.errors?.['required']">
            Campo é obrigatório.
          </div>
        </div>
      </div>
      <div class="buttons">
        <button type="reset" class="btn btn-lg btn-danger" routerLink="/login">Cancelar</button>
        <button
          class="btn btn-lg submit"
          [disabled]="
            form.invalid ||
            form.get('senha')?.value !== form.get('confirmaSenha')?.value
          "
          (click)="cadastrar()"
        >
          Salvar
        </button>
      </div>
    </form>
  </main>
</div>
