.anuncio-container {
  background-color: white;
  display: flex;
  margin: 10px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  border-radius: 10px;

  .anuncio-imagem {
    position: static;
    width: 400px;
    height: 145px;
    border-radius: 10px 10px 0 0;
  }

  .text {
    font-size: 18px;
    margin-bottom: 10px !important;
    color: #1e1e1e;
  }

  .button {
    display: flex;
    height: 90px;
    align-items: flex-end;
  }

  ::ng-deep.card-body {
    width: 320px !important;
  }

  .textos-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    h1 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 8px;
      width: 100%;
    }

    span {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 1920px) {
  .anuncio-container {
    .anuncio-imagem {
      height: 210px;
    }
  }
}

@media screen and (max-width: 820px) {
  .anuncio-container {
    align-items: center;
    margin: 15px 0 0 0;

    .anuncio-imagem {
      height: 180px;
    }

    h1 {
      font-size: 20px;
      line-height: normal;
    }
    .text {
      line-height: normal;
      font-size: 16px;
    }
  }
}

@media screen and(max-width: 420px) {
  .anuncio-container {
    width: 240px;
    margin-bottom: 15px;
    height: 370px;

    ::ng-deep.card-body {
      width: 240px !important;
    }

    h1 {
      font-size: 18px;
      line-height: normal;
    }
    .anuncio-imagem {
      height: 150px;
      width: 240px;
    }
    .text {
      line-height: normal;
      font-size: 12px;
    }
  }
}
