.login-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .main-container {
    margin-top: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    padding: 30px;
  }

  .container1 {
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;

    .form-title {
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      border-bottom: solid 1px #e6e6f0;
      padding-bottom: 15px;
    }

    .login-label {
      font-size: 14px;
      color: #9c98a6;
    }

    .login-input {
      padding-left: 10px;
      width: 100%;
      height: 56px;
      border: solid 1px #e6e6f0;
      background-color: #fafafc;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    .border-form {
      margin-top: 20px;
      margin-bottom: 30px;
      border-bottom: solid 1px #e6e6f0;
    }

    .login-input:focus {
      outline: none;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .buttons-container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .cancelar-button {
        width: 120px;
        height: 50px;
        border: none;
        background-color: #ff0000;
        color: white;
        border-radius: 8px;
      }

      .entrar-button {
        width: 120px;
        height: 50px;
        border: none;
        background-color: #09d8ba;
        color: white;
        border-radius: 8px;
      }

      .entrar-button:disabled {
        background-color: lightgray;
      }
    }
  }

  @media (max-width: 500px) {
    .main-container {
      flex-direction: column;
    }

    .container1 {
      width: 100%;
    }

    .container1 {
      border-right: 0;
      padding-right: 0;
      margin-right: 0;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
}
